/FPGA
/DataProcessing
/ML/__pycache__
/ML/attacker_withRL
/ML/checkpoint
/ML/checkpoint2
/ML/propossedData
/ML/matlab
/ML/outFitMatlab
/ML/outFitMatlabCtMemPoly
/ML/outFitMatlabMemPoly12SDRs
/data
/__pycache__
/checkpoint2
/checkpoint
/Classifier